.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 7px 8px 13px #888;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #f4d8cd;
  color: #3a2e39;
}

button {
  background-color: #54a1ac;
  padding: 10px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 7px 8px 13px #888;
}

button:hover {
  background-color: #1e555c;
  color: #f15152;
}

.score {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 19px;
  padding: 20px;
  background-color: #edb183;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 7px 8px 13px #888;
}

#reset {
  margin: 20px 0 20px 20px;
}
